*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: gotham medium;
}

#header{
    height:10vh;
    width:100%;
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
}

#maincontainer{
    height:8vh;
    width:60%;
    
    display:flex;
    align-items: center;
    justify-content: center;
}

#logo{
    height:8vh;
    width:60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#logo img{
    height:39px;
    width: 130px;
}

#btn{
    height:8vh;
    width:10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn p{
    font-size:17px;
    color:white;
    font-weight:500;
    pointer-events: none;
}

#container{
    height:80vh;
    width:100%;
    background-color: rgb(254,204,210);
    display:flex;
    align-items: center;
    justify-content: center;
}

#redirect{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:20vh;
    width:50%;
}
#redirect h1{
    color:rgb(217,53,24);
    font-size:50px;
}

#redirect p{
    margin:5px;
    color:rgb(217,53,24);
    font-size: 20px;
}
#redirect #button{
    padding:15px;
    margin:20px;
    font-size: 20px;
    letter-spacing: -1;
    color:white;
    background-color: rgb(217,53,24);
    border-radius: 25px;
}
#redirect #button:hover{
    background-color: rgb(182, 40, 15);
}

#redirect a{
    text-decoration: none;
    color:white;
}
#footer{
    height:20vh;
    width:100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#footer #logo{
    width:70%;
    height:10vh;
}

#footer #top{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    margin-bottom: 20px;
}

#links{
    height:5vh;
    width:5%;
    border-radius: 50px;
    margin:0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#links img{
    height:30px;
    width:30px;
}
#bottom{
    width:50%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#bottom p{
    color:white;
    margin:5px;
    pointer-events: none;
}